<!--<script src="/js/login.js"></script>-->
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js'></script>-->
<script src="/js/bundle.js"></script>

</body>

<footer class="footer">
    <div class="footer__logo"><img src="img/logo-color.png" alt="MubeaTrack logo" /></div>
    <ul class="footer__nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <p class="footer__copyright">&copy; by Cla und John</p>
</footer>

</html>
