<%- include('_header') -%>

<body>
    <main class="main main--login">
        <div class="login-form">
            <h2 class="heading-secondary ma-bt-lg">Reset your Password</h2>
            <form class="form form--forgotpassword">
                <div class="form__group"><label class="form__label" for="email">Email address</label><input class="form__input" id="email" type="email" placeholder="you@mubea.com" required="required" /></div>
                <div class="form__group"><button class="btn btn--green">Send new Password</button></div>
            </form>
        </div>
    </main>
<%- include('_footer') -%>
