<%- include('_header') -%>

<main class="main">
    <table id="shipmentsTable" class="shipmentsTable">
        <thead>
        <tr>
            <th >ID</th>
            <th>Shipment Date</th>
            <th>Customer</th>
            <th>Amount in Tons</th>
            <th>In Stock</th>
            <th>Delivery Note</th>
            <th>RK</th>
            <th>Comment</th>
            <th>Edit</th>
        </tr>
        </thead>

        <br>

    </table>

    <a class="btn btn--small btn--green" href="/newShipment">Create new Shipment</a>

</main>

<%- include('_footer') -%>
