<%- include('_header') -%>

<main class="main">
    <div class="user-view__content">
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Create new User</h2>
            <form class="form form-new-user-data">
                <div class="form__group"><label class="form__label" for="employeeNumber">Employee Number</label><input
                            class="form__input" id="employeeNumber" type="number" placeholder="123456" required="required"/>
                </div>
                <div class="form__group"><label class="form__label" for="name">Name</label><input
                            class="form__input" id="name" type="text" placeholder="Pinco Pallino" required="required"/>
                </div>
                <div class="form__group"><label class="form__label" for="email">Email address</label><input
                            class="form__input" id="email" type="email" placeholder="you@mubea.com" required="required"/>
                </div>
                <div class="form__group ma-bt-md"><label class="form__label" for="password">Password</label><input
                            class="form__input" id="password" type="password" placeholder="••••••••" required="required"
                            minlength="8"/></div>

                <div class="form__group ma-bt-md"><label class="form__label" for="passwordConfirm">Confirm Password</label><input
                            class="form__input" id="passwordConfirm" type="password" placeholder="••••••••" required="required"
                            minlength="8"/></div>

                <div class="form__group">
                    <label class="form__label" for="role">Role</label>
                    <select class="form__input" id="role">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>

                <div class="form__group">
                    <button class="btn btn--green">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include('_footer') -%>
