<%- include('_header') -%>

<main class="main">
    <table id="usersTable" class="usersTable">
        <thead>
        <tr>
            <th >ID</th>
            <th>Employee Number</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
        </thead>

        <br>

    </table>

    <a class="btn btn--small btn--green" href="/users/signup">Create new User</a>

</main>

<%- include('_footer') -%>

